<div class="main-content">
    <div class="user-management">
        <h1>Quản Lý Bài Viết</h1>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tiêu đề</th>
                    <th>Mô tả</th>
                    <th>Tác giả</th>
                    <th>Lượt xem</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                {{#each articles}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.author}}</td>
                    <td>{{this.view}}</td>
                    <td class="action-buttons">
                        <button class="edit-button" data-id="{{this.id}}">Sửa</button>
                        <form action="/admin/delete/article/{{this.id}}" method="GET" class="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="delete-button" data-id="{{this.id}}">Xóa</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- Edit Article Modal -->
{{#each articles}}
<div id="edit-article-modal-{{this.id}}" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Cập nhật thông tin bài viết</h2>
        <form action="/admin/article/{{this.id}}" method="POST" id="edit-article-form-{{this.id}}">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="id" value="{{this.id}}">
            <div class="form-group">
                <label for="article-content-{{this.id}}">Content:</label>
                <textarea id="article-content-{{this.id}}" name="content" required>{{this.content}}</textarea>
            </div>
            <div class="form-group">
                <label for="article-title-{{this.id}}">Title:</label>
                <input type="text" id="article-title-{{this.id}}" name="title" value="{{this.title}}" required>
            </div>
            <div class="form-group">
                <label for="article-description-{{this.id}}">Description:</label>
                <textarea id="article-description-{{this.id}}" name="description"
                    required>{{this.description}}</textarea>
            </div>
            <div class="form-group">
                <label for="article-keyword-{{this.id}}">Keyword:</label>
                <input type="text" id="article-keyword-{{this.id}}" name="keyword" value="{{this.keyword}}">
            </div>
            <div class="form-group">
                <label for="article-imageUrl-{{this.id}}">Image URL:</label>
                <input type="url" id="article-imageUrl-{{this.id}}" name="imageUrl" value="{{this.imageUrl}}" required>
            </div>
            <div class="form-group">
                <label for="article-author-{{this.id}}">Author:</label>
                <input type="text" id="article-author-{{this.id}}" name="author" value="{{this.author}}" required>
            </div>
            <div class="form-group">
                <label for="article-published-{{this.id}}">Published:</label>
                <input type="checkbox" id="article-published-{{this.id}}" name="published" {{#if
                    this.published}}checked{{/if}}>
            </div>
            <button type="submit">Lưu</button>
        </form>
    </div>
</div>
{{/each}}